html, body {
  margin: 3;
  padding: 0;
}

@font-face {
  font-family: 'Kremlin';
  src:
	url('./kremlin.ttf');
}
@font-face {
  font-family: 'Locust';
  src:
	url('./CGF Locust Resistance.ttf');
}
@font-face {
font-family: 'Ubuntu', sans-serif;
src:
url('./Ubuntu-Regular.ttf');
}
li {
  font-family: 'Roboto', sans-serif;
  color: #DCDCDC;
}
h1 {
  color: #fff;
}
a {
font-family: 'Roboto', sans-serif;
color:  #FFA500;
}
.orange {
    color:  #FFA500;
}
.white {
  color: #fff
}
p {
  font-family: 'Ubuntu', sans-serif;
  color: #DCDCDC
}
.kremlin {
  font-family: 'Kremlin';
}
.prometheus {
  font-family: 'Locust';
}
.NavSidebar {
  position: fixed;
  top: 0px;
  left: 1100px;
  width: 205px;
  background-color: #111;
}
.big {
  font-size: large;
}
